/*any device with a maximum screen width of 360. Devices 
in the form of nexus and all hand held cellphones will be styled with this form*/
@import url(http://weloveiconfonts.com/api/?family=zocial);
/* zocial */

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
    border: 2px solid black;
    font-size: 1em;
    background-color: lightskyblue;
    transition: ease-out;
}

footer figure {
    display: block;
    margin: auto;
}

footer,
header {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

figcaption {
    text-align: center;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    border-radius: 50%;
    overflow-x: hidden;
    width: 95%;
}

header img {
    order: -1;
}

h3 {
    text-decoration: underline;
    text-align: center;
    margin: auto;
    /* order: 6;*/
}

h4 {
    text-decoration: underline;
    text-align: center;
    order: -1;
    margin: auto;
    padding: 10px 0 20px 0;
}
a:hover{
    color: purple;
    
    }

p {
    margin: 0 35px;
}

h5 {
    text-align: center;
}

a {
    color: black;
}
